<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    {{ encore_entry_link_tags('admin') }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Starter</title>

    <!-- Font Awesome Icons -->
{#    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">#}
    <!-- Theme style -->
{#    <link rel="stylesheet" href="dist/css/adminlte.min.css">#}
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
{% block body %}
<div class="wrapper">

    {% block main_header %}
        <!-- Navbar -->
        {% include "admin/components/main_header.html.twig" %}
        <!-- /.navbar -->
    {% endblock %}

    {% block main_sidebar %}
        <!-- Main Sidebar Container -->
        {% include "admin/components/main_sidebar.html.twig" %}
    {% endblock %}

    <!-- Content Wrapper. Contains page content -->
    {% block content %}{% endblock %}
    <!-- /.content-wrapper -->

    {% block control_sidebar %}
        <!-- Control Sidebar -->
        {% include "admin/components/control_sidebar.html.twig" %}
        <!-- /.control-sidebar -->
    {% endblock %}

    {% block footer %}
        <!-- Main Footer -->
        {% include "admin/components/footer.html.twig" %}
    {% endblock %}

</div>
<!-- ./wrapper -->
{% endblock %}
<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
{#<script src="plugins/jquery/jquery.min.js"></script>#}
<!-- Bootstrap 4 -->
{#<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>#}
<!-- AdminLTE App -->
{#<script src="dist/js/adminlte.min.js"></script>#}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

</body>
</html>
